{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-sm-4">
    <h4 class="text-center alert alert-info">Add New student</h4>
    <form action="" method="POST">
      {% csrf_token %} {{form.as_p }}
      <input type="submit" value="Add" class="btn btn-success" />
    </form>
  </div>
  <div class="col-sm-7 offset-1 position-relative">
    <h4 class="text-center alert alert-info">Show Student Information</h4>
    {% if stu %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Email</th>
          <th scope="col">Gender</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for st in stu %}
        <tr>
          <th scope="row">{{st.id}}</th>
          <td>{{st.name}}</td>
          <td>{{st.age}}</td>
          <td>{{st.email}}</td>
          <td>{{st.gender}}</td>
          <td>
            <a href="update/{{st.id}}" class="btn btn-warning btn-sm">Edit</a>
            <a href="delete/{{st.id}}" class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <nav
      aria-label="..."
      style="position: absolute; bottom: -20px; left: 35%; right: 0px"
    >
      <ul class="pagination">
        {% if stu.has_previous %}
        <li class="page-item">
          <a class="page-link" href="/?page={{stu.previous_page_number}}"
            >Previous</a
          >
        </li>
        {% endif %} {% for page in stu.paginator.page_range %}
        <li class="page-item {% if page == stu.number %}active{% endif %}">
          <a class="page-link" href="?page={{page}}">{{ page }}</a>
        </li>

        {% endfor %} {% if stu.has_next %}
        <li class="page-item">
          <a class="page-link" href="/?page={{stu.next_page_number}}">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% else %}
    <h4 class="text-center alert alert-info">No data available</h4>
    {% endif %}
  </div>
</div>
{% endblock content %}
